<div class="data-table">
    <div class="content-main">
      <h5 style="text-align: center;">List LCs</h5>
    </div>
  
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>STT</th>
          <th>Sale contract</th>
          <th>Start date</th>
          <th>Status</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td><a style="color: #2F54EB;" [routerLink]="['/agreements', data.salesContract]">{{ data.salesContract }}</a></td>
          <td>{{ data.startDate }}</td>
          <td>{{ data.status }}</td>
          <td>
            <a><span style="color: #2F54EB;" nz-icon nzType="eye" nzTheme="outline"
                [routerLink]="['/LCs', data.salescontract_id]"></span></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>