<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="17">
        <div class="formAgreement">
            <nz-card nzTitle="Letter of Credit" style="margin-bottom: 16px;" id="letterOfCreditPart" [nzExtra]="extraTemplateLOC">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Start Date</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.startDate}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.status}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24" *ngIf="lcDetail.letterOfCredit.rejectedReason">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Return reason</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.letterOfCredit.rejectedReason}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Sale Contract" style="margin-bottom: 16px;" id="saleContractDetailPart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Agreement end time (DD--MM--YYYY)</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.deadlineInDate}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="agreementID">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.status}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicant">
                                <strong>Applicant</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.importer}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="applicantLegalName">
                                <strong>Applicant legal name</strong>
                            </nz-form-label>
                            <nz-form-control [nzSpan]="8">
                                <p>{{lcDetail.salseContract.applicantLegalName}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="beneficiary">
                                <strong>Beneficiary</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.exporter}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="date">
                                <strong>Beneficiary legal name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.beneficiaryLegalName}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBank">
                                <strong>Issuing bank</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.issuingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="issuingBankCode">
                                <strong>Issuing Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.issuingBankCode}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBank">
                                <strong>Advising bank</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.advisingBank}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="advisingBankCode">
                                <strong>Advising Bank SWIFT/BIC code</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.advisingBankCode}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="commodityName">
                                <strong>Commodity name</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.commodity}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="commodityValue">
                                <strong>Commodity value</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.price}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="paymentMethod">
                                <strong>Payment method</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.paymentMethod}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <hr style="margin-top: 40px;">

                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="24" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Additional information <em>(optional)</em></strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.salseContract.additionalInfo}}</p>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Bill Of Exchange" style="margin-bottom: 16px;" [nzExtra]="extraTemplateBOE"
                id="billOfExchangePart">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.billOfExchange.status || 'Seller/Buyer not uploaded yet'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <div *ngIf="bill_of_exchange"  nz-col [nzSpan]="12">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>File</strong>
                            </nz-form-label>
                            <div class="file-upload" style="color: #1890ff;">
                                <div *ngIf="bill_of_exchange">
                                    <div>
                                        <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
                                        {{getFileName(bill_of_exchange.file)}}
                                    </div>
                                </div>
                                <span *ngIf="!bill_of_exchange" style="color: #555;">
                                    Seller/Buyer hasn't uploaded yet!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card>

            <nz-card nzTitle="Bill Of Lading" style="margin-bottom: 16px;" id="billOfLadinglPart" [nzExtra]="extraTemplateBOL">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.billOfLading.status || 'Seller/Buyer not uploaded yet'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <div *ngIf="bill_of_lading"  nz-col [nzSpan]="12">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>File</strong>
                            </nz-form-label>
                            <div class="file-upload" style="color: #1890ff;">
                                <div *ngIf="bill_of_lading">
                                    <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
                                    {{getFileName(bill_of_lading.file)}}
                                </div>
                                <span *ngIf="!bill_of_lading" style="color: #555;">Seller/Buyer hasn't uploaded
                                    yet!</span>
                            </div>
                        </div>
                    </div>

                </div>
            </nz-card>

            <nz-card nzTitle="Invoice" style="margin-bottom: 16px;" id="invoicelPart" [nzExtra]="extraTemplateINVOICE">
                <div style="padding: 0 24px;">
                    <div nz-row [nzGutter]="24">
                        <nz-form-item nz-col [nzSpan]="12" class="info">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>Status</strong>
                            </nz-form-label>
                            <nz-form-control>
                                <p>{{lcDetail.invoice.status || 'Seller/Buyer not uploaded yet'}}</p>
                            </nz-form-control>
                        </nz-form-item>
                        <div *ngIf="invoice" nz-col [nzSpan]="12">
                            <nz-form-label nzFor="additionalInformation">
                                <strong>File</strong>
                            </nz-form-label>
                            <div class="file-upload" style="color: #1890ff;">
                                <div *ngIf="invoice">
                                    <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
                                    {{getFileName(invoice.file)}}
                                </div>
                                <span *ngIf="!invoice" style="color: #555;">Seller/Buyer hasn't uploaded yet!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>

    <div nz-col [nzSpan]="7">
        <nz-card style="width:100%;" nzTitle="Content">
            <nz-steps *ngIf="progress <= 4" [nzCurrent]=progress nzDirection="vertical" nzSize="small">
                <nz-step nzTitle="LC created"></nz-step>
                <nz-step nzTitle="Advising Bank accepted"></nz-step>
                <nz-step nzTitle="Buyer/Seller upload document"></nz-step>
                <nz-step nzTitle="Document accepted"></nz-step>
            </nz-steps>
            <nz-steps *ngIf="progress > 4" [nzCurrent]=progress nzDirection="vertical" nzSize="small">
                <nz-step nzTitle="LC created"></nz-step>
                <nz-step nzStatus="error" nzTitle="Advising Bank rejected"></nz-step>
            </nz-steps>
            <ul nz-menu nzMode="inline">
                <li nz-menu-item (click)="scrollToTarget('letterOfCreditPart')"><span>Letter of Credit</span></li>
                <li nz-menu-item (click)="scrollToTarget('saleContractDetailPart')" nzOpen><span>Sale Contract</span>
                </li>
                <li nz-menu-item (click)="scrollToTarget('billOfExchangePart')"><span>Bill Of Exchange</span></li>
                <li nz-menu-item (click)="scrollToTarget('billOfLadinglPart')"><span>Bill Of Lading</span></li>
                <li nz-menu-item (click)="scrollToTarget('invoicelPart')"><span>Invoice</span></li>
            </ul>
            <div *ngIf="lcDetail.salseContract.advisingBank == username && lcDetail.letterOfCredit.status == 'created'"
                class="button-group">
                <div>
                    <button nz-button nzType="primary" (click)="approveLC()">Approve</button>
                </div>
                <div>
                    <button nz-button nzType="primary" nzDanger (click)="showModalRefuse()">
                        Return
                    </button>
                </div>
            </div>
        </nz-card>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Do you want to return this agreement?" (nzOnCancel)="handleCancelRefuse()"
    (nzOnOk)="handleOkRefuse()" [nzOkDanger]="true">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="validateRefuseForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                    <input nz-input formControlName="reason" id="reason" />
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>

<ng-template #extraTemplateBOE>
    <nz-button-group *ngIf="role == 'bank' && lcDetail.billOfExchange.status == 'user_uploaded'">
        <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure REJECT this task?" nzOkText="Yes"
            nzCancelText="Cancel" nzPopconfirmPlacement="top" (nzOnConfirm)="rejectDocumentBOE()"
            (nzOnCancel)="cancel()">Reject</button>
        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Are you sure APPROVE this task?"
            nzPopconfirmPlacement="top" (nzOnConfirm)="acceptDocumentBOE()"
            (nzOnCancel)="cancel()">Approve</button>
    </nz-button-group>
</ng-template>

<ng-template #extraTemplateBOL>
    <nz-button-group *ngIf="role == 'bank' && lcDetail.billOfLading.status == 'user_uploaded'">
        <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure REJECT this task?" nzOkText="Yes"
            nzCancelText="Cancel" nzPopconfirmPlacement="top" (nzOnConfirm)="rejectDocumentBOL()"
            (nzOnCancel)="cancel()">Reject</button>
        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Are you sure APPROVE this task?"
            nzPopconfirmPlacement="top" (nzOnConfirm)="acceptDocumentBOL()"
            (nzOnCancel)="cancel()">Approve</button>
    </nz-button-group>
</ng-template>

<ng-template #extraTemplateINVOICE>
    <nz-button-group *ngIf="role == 'bank' && lcDetail.invoice.status == 'user_uploaded'">
        <button nz-button nz-popconfirm nzPopconfirmTitle="Are you sure REJECT this task?" nzOkText="Yes"
            nzCancelText="Cancel" nzPopconfirmPlacement="top" (nzOnConfirm)="rejectDocumentINVOICE()"
            (nzOnCancel)="cancel()">Reject</button>
        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Are you sure APPROVE this task?"
            nzPopconfirmPlacement="top" (nzOnConfirm)="acceptDocumentINVOICE()"
            (nzOnCancel)="cancel()">Approve</button>
    </nz-button-group>
</ng-template>

<ng-template #extraTemplateLOC>
        <button nz-button *ngIf="role == 'bank' && isAllApprove == true" nzType="primary" (click)="updateStatus()" >
            <span nz-icon nzType="sync" nzTheme="outline"></span> Update Status LC
        </button>
</ng-template>